.container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  width: 230px; /* Set the desired fixed width */
  min-width: 230px; /* Ensure a minimum width */
  color: #fff; /* Set text color to white */
  justify-content: space-between; /* Adjusted to provide space between logo and title, and between title and buttons */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Set text color to white */
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  color: #fff; /* Set text color to white */
  margin-right: 10px; /* Adjusted margin for better spacing */
}

.add,
.more {
  font-size: 24px;
  color: #fff; /* Set text color to white */
  cursor: pointer;
}

.more {
  font-size: 18px;
}
