.header-container {
  display: flex;
  align-items: center;
  padding: 20px 20px; /* Adjust padding as needed */
  background-color: #1c1c1c; /* Set your desired background color */
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif; /* Set the desired font-family */
  /* Set text color to white or your preferred color */
}

.dropdown-container {
  position: absolute;
  top: 75%;
  left: 9%; /* Move the dropdown to the middle */
  transform: translateX(-50%); /* Center the dropdown */
  z-index: 1;
  display: none;
  background-color: #100f0f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 16px; /* Increase the padding as needed for a larger dropdown */
  width: 200px; /* Set the desired width of the dropdown */
}

.header-container button {
  padding: 12px 24px; /* Increase the padding for a larger button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif; /* Set the desired font-family */
}

.click {
  background-color: #363636;
  color: white;
}

.header-container button:focus {
  outline: none;
}

.header-container .dropdown-container.active {
  display: block;
}
