.myDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 100%; /* Set the maximum width to the width of the browser window */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
